:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #4e6e99; /* Dark blue for header and nav */
    --secondary: #dad5cf; /* Light beige for background */
    --hover-primary: #3b5e8a; /* Slightly darker blue for hover states */
    --hover-secondary: #bfb9b2; /* Slightly darker beige for hover states */
    --text-primary: #333333; /* Dark gray for text */
    --text-secondary: #4e6e99; /* Dark blue for headings */
    --overlay-bg: rgba(0, 0, 0, 0.8); /* Dark overlay background */
    font-family: 'Trebuchet MS';
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 3.5rem;
}

.navlink {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

.navlink:hover {
    color: var(--hover-primary);
}

nav {
    padding: 1em 0 0;
    color: var(--white);
    background-color: var(--primary);
    min-height: 10vh
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav img {
    max-height: 1.5em;
}

nav h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

body {
    margin: 0;
    background-color: var(--secondary); /* Light beige background for body */
    color: var(--text-primary); /* Dark gray text color */
}

footer {
    border-top: var(--secondary) solid 10px;
    background-color: var(--primary);
    padding: 7px;
    color: var(--white);
    min-height: 7vh
}

.contact-info {
    min-height: 83vh;
    font-size: 1.5em;
    text-align: center;
}

.contact-info ul {
    font-weight: 900;
    font-size: 2em;
    list-style: none;
}

@media (max-width: 768px){
    nav ul li{
        width: 20vw;
    }
    nav {
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 2rem;
    }
    .contact-info {
        font-size: 1em;
        padding: 5%;
    }

    .contact-info h1 {
        font-size: 2em;
    }
}