* {
    box-sizing: border-box;
    --white: #f5f6f7;
    --black: #000;
    --primary: #677D6A;
    --secondary: #D6BD98;
    --original-blue: #0a0a23;
    --original-yellow: #fdb347;
    font-family: 'Trebuchet MS';
}

.navlink {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

.navlink:hover {
    color: var(--secondary);
}

body {
    margin: 0;
    background: var(--white);
}

.header {
    margin: 0;
    height: 47rem;
    background-image: url("./pages/albums/colorado/IMG_8844.JPG");
    background-size: cover;
    background-color: var(--primary);
    background-attachment: fixed;
    color: var(--white);
}

.header .text {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 150px;
    color: var(--secondary);
}

nav {
    display: block;
    text-align: left;
    font-size: 1.5em;
    padding: 1em;
    padding-bottom: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

nav img {
    max-height: 1.5em;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.album {
    background-color: #d3d3d3;
    max-width: 650px;
    text-align: center;
    padding: 20px;
    color: var(--primary);
    border-radius: 20px;
}

.album-info {
    margin: 0;
    padding: 5px;
    font-size: 1.5rem;
}

footer {
    border-top: var(--secondary) solid 10px;
    background-color: var(--primary);
    padding: 7px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .header {
        background-position: center;
        height: 20rem;
    }
    .header .text {
        font-size: 1.5rem;
    }
    nav ul li {
        padding: 0 2px;
    }
    .gallery {
        padding: 5px;
    }
    .album {
        padding: 5px;
        max-width: 275px;
        height: auto;
    }
    .album-info {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .header {
        height: 30rem;
        background-position: center;
    }
    .header .text {
        font-size: 2rem;
    }
    nav ul li {
        padding: 0 5px;
    }
    .gallery {
        padding: 10px 5px;
    }
    .album {
        padding: 10px;
        max-width: 300px;
        height: auto;
    }
    .album-info {
        font-size: 1.2rem;
    }
}
