* {
    box-sizing: border-box;
    --white: #f5f6f7;
    --black: #000;
    --primary: #4e6e99; /* Dark blue for header and nav */
    --secondary: #dad5cf; /* Light beige for background */
    --primaryOld: #677D6A;
    --secondaryOld: #D6BD98;
    font-family: 'Trebuchet MS';
}

.navlink {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

.navlink:hover {
    color: var(--secondary);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

nav img {
    max-height: 1.5em;
}

nav {
    display: block;
    text-align: left;
    font-size: 1.5em;
    padding: 1em;
    padding-bottom: 0;
}

body {
    margin: 0;
    background: var(--white);
}

.header {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./pages/albums/colorado/IMG_8844.JPG");
    background-size: cover;
    background-color: var(--primary);
    background-attachment: fixed;
    color: var(--white);
    border-bottom: 10px var(--secondary) solid;
}

.header .text {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0px;
    color: var(--secondary);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 600px;
    min-height: 48vh;
    object-fit: cover;
    border-radius: 5px;
}

.album {
    background-color: #d3d3d3;
    max-width: 650px;
    text-align: center;
    padding: 20px;
    color: var(--primary);
    border-radius: 20px;
    min-height: 51vh;
}

.album-info {
    margin: 0;
    padding: 5px;
    font-size: 1.5rem;
}

.album:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

footer {
    border-top: var(--secondary) solid 10px;
    background-color: var(--primary);
    padding: 7px;
}

/* Responsive Design */
@media (max-width: 768px) {


    nav ul li{
        width: 20vw;
    }
    nav {
        padding-bottom: 15px;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    .header {
        background-image: url("./pages/albums/spring-break/IMG_6522.jpg");
        background-size: contain;
        max-height: fit-content;
    }

    .header p {
        color: var(--black);
    }

    .header h2 {
        color: var(--black);
    }

    .gallery {
        gap: 8px;
    }

    .album {
        min-height: 42vh;
        max-width: 175px;
        padding: 10px;
    }
    .album img {
       max-width: 98%;
       min-height: 30vh
    }
    .album h4 {
        font-size: 1rem;
    }
}
