*   {
    box-sizing: border-box;
}

.navlink {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #f5f6f7;
}

nav {
    padding: 1px;
    padding-left: 20;
    background-color: #1B5448;
    color: #fff;
    margin: 0px;
    border: 0px #1B5448;
    text-align: left;
}

.header {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 10px;
    background-color: #1B5448;
    color: #fff;
    border-bottom: 10px solid #5F433C;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}