*   {
    box-sizing: border-box;
}

.navlink {
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

nav {
    padding: 1px;
    background-color: #C8102e;
    color: #fff;
    margin: 0px;
    border: 0px #C8102e;
    text-align: left;
}

.header {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 10px;
    background-color: #C8102e;
    color: #fff;
    border-bottom: 10px solid #f1be48;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}