<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initia-scale=1.0">
        <title>ALBUM TEMPLATE</title>
        <link rel="stylesheet" href="./albumStyleTemp.css">
    </head>
    <body>
        <nav>
            <a class="navlink" href="../index.html"><h3>Shots By Jesus</h3></a>         </nav>
        <header class="header">
            <h1>ALBUM NAME AND DATE</h1>
        </header>
        <div class="gallery">
            <!--Each one will have filler links, run a python script to edit the html file with the proper images-->
            <!--START-->
        </div>
		<!--div for overlay preview-->
		<div id="overlay" class="overlay">
			<img id="enlargedImage" class="enlargedImage" src="" alt="Image Enlarged">
		</div>
		<!--link to script for enlarging images-->
		<script src="script.js"></script>
    </body>
</html>